<div class="text-center">
  <h1>登録するペットのデータ</h1>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">

    <%= form_with(model: @pet, local: true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      <div class="form-group">
        <%= f.label :name, 'Name' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :animals_kind, 'Animals_kind' %>
        <%= f.text_field :animals_kind, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :birthday, 'Birthday' %>
        <%= f.date_field :birthday,  class: 'form-control' %>
      </div>


      <%= f.submit '登録', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
</div>