<div class="text-center">
  <h1>レコード</h1>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">

    <%= form_with(model: @record, local: true) do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
    
      <%= f.hidden_field :pet_id, value: params[:pet_id] %>
    
      <div class="form-group">
        <%= f.label :food_name, 'Food_name' %>
        <%= f.text_field :food_name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :food_amount, 'Food_amount' %>
        <%= f.number_field :food_amount, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :weight, 'Weight' %>
        <%= f.number_field :weight,  class: 'form-control' %>
      </div>
    　<div class="form-group">
        <%= f.label :date, 'Date' %>
        <%= f.date_field :date,  class: 'form-control' %>
      </div>
  
      <%= f.submit '登録', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
</div>